# Copia pra .env e ajusta. .env não vai pro git.

# Django
DJANGO_SECRET_KEY=change-me-in-prod-please
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

# Database (bate com docker-compose.yml)
DATABASE_URL=postgres://dmt_user:dmt_dev_password@localhost:5433/dmt_dev

# Redis (Celery broker + cache)
REDIS_URL=redis://localhost:6380/0
CELERY_BROKER_URL=redis://localhost:6380/1
CELERY_RESULT_BACKEND=redis://localhost:6380/2

# JWT
JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=7
